<h1>
  Product List
</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Price
      </th>
      <th>
        Created Date
      </th>
      <th>
        Details
      </th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList | price : 1000">
      <td>
        {{product.id}}
      </td>
      <td>
        {{product.name | lowercase}}
      </td>
      <td>
        {{product.price | inr:'Rs.' }}
      </td>
      <td>
        {{product.craetedDate | date:'MM/dd/yyyy'}}
      </td>
      <td>
        <button class="btn btn-primary" [routerLink]="[product.id]">Details</button>
      </td>
      <td>
          <button md-raised-button color="primary" (click)="editProduct(product)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
