<h1>
  Add Product Form
</h1>

<form #productForm="ngForm" (submit)="submit()" novalidate>
  <div class="form-group">
    <input class="form-control" required type="number" [(ngModel)]="product.id" name="id" placeholder="Id" #productId="ngModel">
    <!-- {{productId.invalid| json}} -->
    <div class="alert alert-danger" [hidden]="productId.valid">
      Please provide product id.
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" required type="text" [(ngModel)]="product.name" name="name" placeholder="Product Name">
  </div>
  <div class="form-group">
    <input class="form-control" required type="number" [(ngModel)]="product.price" name="price" placeholder="Product Price">
  </div>
  <div class="form-group">
    <input class="form-control" required type="date" [(ngModel)]="product.craetedDate" name="createDate" placeholder="Created Date">
  </div>
  <div>
    <button [disabled]="productForm.invalid" class="btn btn-primary">Save</button>
  </div>
</form>

<hr>

<app-product-list [productList]="products"></app-product-list>

<router-outlet></router-outlet>